<!DOCTYPE html>
<html>
  <head>
    <title><%= productName %></title>

    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">

    <link rel="icon" href="https://static.wixstatic.com/media/7cf56b_8642f442596d453d9fb3ab3ecd5055bb%7Emv2.png/v1/fill/w_192%2Ch_192%2Clg_1%2Cusm_0.66_1.00_0.01/7cf56b_8642f442596d453d9fb3ab3ecd5055bb%7Emv2.png">
  </head>
  <body>
    <!-- quasar:entry-point -->
  </body>
</html>
